################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/datentypen/.vs/datentypen/v15/Browse.VC.opendb
/datentypen/.vs/datentypen/v15/ipch/AutoPCH/a79a5fd599727e9/MAINFILE.ipch
/bruchrechnung/.vs/bruchrechnung/v15/ipch/AutoPCH/2e61d47e72e5455
/bruchrechnung/.vs/bruchrechnung/v15/Browse.VC.opendb
/exp/.vs/exp/v15/Browse.VC.opendb
/exp/.vs/exp/v15/.suo
*.db
/zahlenraten/.vs/zahlenraten/v15/Browse.VC.opendb
/primzahlen/.vs/primzahlen/v15/ipch/AutoPCH
/primzahlen/.vs/primzahlen/v15
/eurotest/.vs/eurotest/v15
/eurotest/eurotest/Debug
/eurotest/Debug
